@use "./variables" as v;


@mixin text-transition{
  background: linear-gradient(
    to bottom, 
    #10cafd , #1babf8
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin flex-center($justify: center) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}


@mixin meter($width-size, $height-size) {
  width: $width-size;
  height: $height-size;
}

@mixin btn-transition{
  background: 
    linear-gradient(#ffffff 0 0) padding-box, 
    linear-gradient(to bottom, #10cafd, #1babf8) border-box;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 35px;
  display: inline-block;
}


@mixin input {
   width: 20rem;
   height: 5rem;
   border-radius: 1rem;
   text-align: start;
   padding-left: 1rem;
}

@mixin select {
  width: 11rem;
   height: 5rem;
   border-radius: 1rem;
   text-align: end;
   padding-right: 1rem;
}


@mixin check{
    background-color: #2f7cf0 ;
    color: rgb(240, 232, 232);
    border-radius: 50%;
    padding: 3px;
    margin-right: 15px;
}