.page-navbar {
  margin-left: 4rem;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  width: 100%;
  padding: 2rem;
}

ul {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.btn-navbar {
  display: flex;
  gap: 20px;
}

@media (max-width: 992px) {
  .btn-navbar {
    display: none;
  }
}
@media (max-width: 1205px) {
  .btn-navbar {
    display: none;
  }
}
.top-nefa {
  position: absolute;
}

.header {
  position: relative;
  overflow: hidden;
}
.header p {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.heading {
  font-size: 70px;
}

.fastest {
  background: linear-gradient(to bottom, #10cafd, #1babf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 60px;
}

.pag {
  width: 612px;
  color: #666;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.header {
  height: 700px;
  position: relative;
}

.heading-img {
  position: absolute;
  width: 43rem;
  left: 40rem;
  right: 2rem;
}

.all-header {
  margin-top: 5rem;
  padding-left: 4rem;
}

.btn-download {
  color: #2477f3;
}

.more {
  text-decoration: none;
}

.circle-blue {
  position: absolute;
  top: 2rem;
  left: 10rem;
  width: 25px;
}

.circle-orange {
  position: absolute;
  top: 25rem;
  left: 35rem;
  width: 1rem;
}

.circle-purple {
  position: absolute;
  top: 33rem;
  right: 38rem;
  width: 1rem;
}

.star {
  top: 5rem;
  width: 2.5rem;
  position: absolute;
  right: 15rem;
}

@media screen and (max-width: 992px) {
  .star .circle-purple .circle-orange .circle-blue .heading-img {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .circle-blue {
    display: none;
  }
  .pag {
    display: none;
  }
  .all-header {
    text-align: center;
  }
  .heading {
    font-size: 50px;
  }
  .header button {
    margin-top: 20px;
    width: 100%;
  }
}
.list a {
  text-decoration: none;
  color: #666;
  line-height: 50px;
}

.entry {
  color: #666;
}

.entry input {
  border-radius: 10px;
  padding: 10px;
}

.copyright {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .list a {
    line-height: 15px;
  }
  .copyright {
    margin-top: 4rem;
  }
}
.button-navbar {
  background-color: transparent;
  color: #468EF9;
  border: 1px solid #468EF9;
  border-radius: 40px;
  width: 11rem !important;
  height: 3.5rem !important;
}

.btn-sign {
  background: linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%);
  color: #ffffff;
  border-radius: 40px;
  width: 7rem !important;
  height: 3rem !important;
}

.btn-clear {
  border-radius: 40px;
  background: linear-gradient(#fff, #fff) padding-box, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%) border-box;
  border: 1px solid transparent;
}

.button-navbar {
  width: 7rem !important;
  height: 3rem !important;
}

.btn-download {
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to bottom, #10cafd, #1babf8) border-box;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 35px;
  display: inline-block;
  white-space: nowrap;
  width: -moz-max-content !important;
  width: max-content !important;
}

.header .btn-clear {
  width: 10rem;
}

.btn-header {
  display: flex;
  gap: 10px;
}

.btn {
  width: 125px;
  height: 60px;
}

.buy-btn {
  width: 92% !important;
  margin-top: 20px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-footer {
  position: relative;
  width: 3rem;
  height: 3rem;
  background-color: #2678f3;
}

#transition {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: #321082;
  filter: blur(200px);
}

#transition-1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 61, 152);
  filter: blur(200px);
}

#transition-2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 200px;
  height: 200px;
  background-color: rgb(149, 28, 113);
  filter: blur(300px);
}

.title {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.table-body {
  top: -50px;
  left: 10px;
  position: relative;
  max-width: 1400px;
}

.table-out {
  padding-top: 35px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding-left: 3rem !important;
}

.table-1 {
  border-right: 1px solid #eaeaea;
  padding-right: 30px;
}

.table-2 {
  border-right: 1px solid #eaeaea;
  padding-right: 30px;
}

.table-3 {
  padding-right: 30px;
}

.minus {
  color: red;
  font-size: 20px !important;
  font-weight: 2rem !important;
}

.plus {
  color: rgb(97, 225, 97);
  font-weight: 30px !important;
  font-size: 20px !important;
}

.statistic-bottom {
  border-bottom: 1px solid white;
}

.form-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(45deg, #3984f4, #0cd3ff, #2f7cf0, #0e65e8);
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: destination-out;
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}

.line {
  height: 20px;
  border-left: 1px solid #3e66b7;
  margin: 0 10px;
}

.currency {
  font-weight: normal;
}

.buy-form {
  margin-top: 5rem;
}

.bank {
  width: 30rem;
  right: 8rem;
}

.form-body input {
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to bottom, #10cafd, #1babf8) border-box;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 35px;
  display: inline-block;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  text-align: start;
  padding-left: 1rem;
  margin-right: 25px;
}

.buy-responsive p {
  font-size: 20px;
}

/*
#top-form {
  background-image: url(/assets/Ellipse\ 13.png);
  background-repeat: no-repeat;
  background-position: 60px;
}*/
.form-body select {
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to bottom, #10cafd, #1babf8) border-box;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 35px;
  display: inline-block;
  width: 11rem;
  height: 5rem;
  border-radius: 1rem;
  text-align: end;
  padding-right: 1rem;
}

#bottom-form {
  background-image: url(/assets/image\ 1.png);
  background-repeat: no-repeat;
  background-position: 60px;
}

.btn-credit {
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to bottom, #10cafd, #1babf8) border-box;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 35px;
  display: inline-block;
}

@media screen and (max-width: 600px) {
  .bank {
    right: auto;
    width: 28rem;
    margin-bottom: 2rem;
  }
  .buy-responsive {
    display: flex;
    flex-direction: column-reverse;
  }
  .form-body input {
    width: 15rem;
    margin-right: 15px;
  }
  .buy-responsive h2 {
    font-size: 35px;
  }
  .buy-responsive p {
    font-size: 16px;
  }
}
.partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 10rem;
  justify-content: center;
  border-radius: 30px;
  padding: 2rem;
  background: url(/assets/background.png);
}
.partners h3 {
  justify-content: center;
  display: flex;
  font-size: 30px;
}

.partners-text {
  display: flex;
  text-align: center;
}

.advanced {
  margin-top: 10rem;
  background: url(/assets/background2.png);
  width: 100%;
  background-position: center;
  border-radius: 40px;
  padding: 2rem;
}
.advanced .advanced-pics {
  width: 30rem;
  right: 10rem;
}

.learn {
  padding-left: 40px;
}

.btn-get-started {
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(to bottom, #10cafd, #1babf8) border-box;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 35px;
  display: inline-block;
}

.tools {
  background: linear-gradient(to bottom, #10cafd, #1babf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 600px) {
  .advanced-responsive {
    display: flex;
    flex-direction: column-reverse;
  }
  .btn-get-started {
    width: 100%;
  }
  div a {
    display: flex;
    /* margin-left: 7.5rem;*/
    margin-top: 25px;
  }
}
.security {
  position: relative;
  margin-top: 8rem;
}

.security-img {
  left: 3rem;
  width: 85%;
}

.soc-type {
  text-decoration: underline;
}

.text-learn {
  text-decoration: underline;
}

.app {
  margin-top: 10rem;
  -o-object-fit: contain;
     object-fit: contain;
  background: url(/assets/background2.png);
  width: 100%;
  height: 36rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .app-body {
  text-align: center;
  padding-left: 6rem;
}

p {
  color: #666;
}

@media screen and (max-width: 600px) {
  .app {
    margin: 25rem 0;
  }
}
.support-text {
  margin-top: 10rem;
}

.support-img {
  left: 30rem;
}

.accordion {
  background-color: transparent;
}

.accordion-body {
  line-height: 25px;
  color: #666;
}

.question {
  background-color: inherit;
  color: #000000;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  line-height: 60px;
}

.paragraphy {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
}

.support-text {
  line-height: 60px;
  color: black;
}

.support .support-text span {
  color: #3983f5;
  font-size: 25px;
  font-style: normal;
  line-height: 20px;
}

.list {
  list-style: none;
}

@media screen and (max-width: 600px) {
  .support-img {
    width: 30rem;
  }
}
.credit-card {
  position: relative;
  margin-top: 8rem;
}
.credit-card .credit-text {
  margin-top: 2rem;
}

.credit-img {
  margin-top: 1rem;
  width: 38rem;
}

.btn-credit {
  width: 50%;
}

.nefa-title {
  background: linear-gradient(to bottom, #10cafd, #1babf8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-check {
  background-color: #2f7cf0;
  color: rgb(240, 232, 232);
  border-radius: 50%;
  padding: 3px;
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .credit-img {
    width: 25rem;
  }
  .btn-credit {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */