@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

.top-nefa{
  position: absolute;
}

.header {
    position: relative;
    overflow: hidden;
    p {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .heading {
    @include m.text-transition;
    line-height: 60px;
  
  }
  
  p {
    width: 612px;
    color: #666;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
  
.header {
    height: 700px;
    position: relative;
     
   .heading-img {
    position: absolute;
    left: 40rem;
    }
    .heading-img {
      position: absolute;
      width: 43rem;
      right: 2rem;
    }
  }

  .all-header{
    padding-left: 4rem;
  }

  .more{
    text-decoration: none;
  }
  
  .circle-blue {
    position: absolute;
    top: 2rem;
    left: 10rem;
    width: 25px;
  }
  .circle-orange {
    position: absolute;
    top: 25rem;
    left: 35rem;
    width: 1rem;
  }
  
  .circle-purple {
    position: absolute;
    top: 33rem;
    right: 38rem;
    width: 1rem;
  }
  
  .star {
    top: 5rem;
    width: 2.5rem;
    position: absolute;
    right: 15rem;
  }