@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;


  
.title {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(137deg, #468ef9 -12.5%, #0c66ee 107.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

  
.app-text h3 {
    object-fit: contain;
    @include m.flex-center;
}
  
