@use "../abstracts/mixins" as m;


.advanced {
    margin-top: 10rem;
    background: url(/assets/background2.png);
    width: 100%;
    background-position: center;
    border-radius: 40px;
    padding: 2rem;

    .advanced-pics {
        width: 30rem;
    }
}


.learn {
    padding-left: 40px;
}

.btn-get-started {
    @include m.btn-transition;
}

.tools {
    @include m.text-transition;
}



@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 600px) {
    .advanced-responsive{
        display: flex;
        flex-direction: column-reverse;
    }

    .btn-get-started{
        width: 100%;
    }

    div a{
        display: flex;
       /* margin-left: 7.5rem;*/
        margin-top: 25px;
    }
    
  }