@use "../abstracts/mixins" as m;


.advanced {
    position: relative;
    height: 35rem;
    margin-top: 10rem;
    background: url(/assets/background2.png);
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
    padding: 2rem;

    .advanced-pics {
        width: 40%;
        right: 4rem;
        position: absolute;
    }
}

.learn {
    padding-left: 40px;
}

.btn-get-started {
    @include m.btn-transition;
}

.tools {
    @include m.text-transition;
}