@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;


.app {
    margin-top: 10rem;
    background: url(/assets/background2.png);
    padding: 5rem 0;
    width: 100%;
    @include m.flex-center;
  
    .app-body{
      text-align: center;
      padding-left: 6rem;
    }
  }


  p{
    color: v.$color-grey;
  }
 

  @media screen and (max-width: 992px) {
  
  }
  
  @media screen and (max-width: 600px) {
      .lined{
        display: none;
      }


      .other-img{
        display: flex;
        margin-left: 4rem;
      }
    }