@use "../abstracts/mixins" as m;


.credit-card{
    position: relative;
    margin-top: 8rem;
    .credit-text{
    margin-top: 2rem;}
}

.credit-img{
    margin-top: 1rem;
    width: 38rem;
}

.btn-credit{
    width: 50%;
}


.nefa-title{
    @include m.text-transition;
}

.fa-check{
    @include m.check;
}



@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 600px) {
    .credit-img{
        width: 25rem;
    }

    .btn-credit{
        width: 100%;
    }

  }