@use "../abstracts/mixins" as m;




.credit-card{
    margin-top: 8rem;
    .credit-text{
    margin-top: 2rem;}
}

.credit-img{
    margin-top: 1rem;
    width: 38rem;
}

.nefa-title{
    @include m.text-transition;
}