@use "../abstracts/mixins" as m;
@use "../abstracts/variables";

.buy-form {
    margin-top: 30rem;
    background-color: #ffffff !important;
  }

  .form-body{
    display: flex;
    justify-content: center;
    column-gap: 0;
  }
  
  .bank {
    width: 30rem;
    position:absolute;
    top: 77rem;
    right: 8rem;
  }
  
  .page-input-two select {
    @include m.center-input;
  
  }
  .page-input-one input {
    @include m.big-input;
  }

  .btn-credit{
    @include m.btn-transition;
  }