@use "../abstracts/mixins" as m;
@use "../abstracts/variables";

.buy-form {
  margin-top: 5rem;
}

.bank {
  width: 30rem;
  right: 8rem;
}


.form-body input {
  @include m.btn-transition;
  @include m.input;
  margin-right: 25px;
}

.buy-responsive p{
  font-size: 20px;
}

.form-body select {
  @include m.btn-transition;
  @include m.select;
}

#bottom-form {
  background-image: url(/assets/image\ 1.png);
  background-repeat: no-repeat;
  background-position: 60px;
}

.btn-credit {
  @include m.btn-transition;
}






@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 600px) {
    .bank{
      right: auto;
      width: 28rem;
      margin-bottom: 2rem;
    }

    .buy-responsive{
      display: flex;
      flex-direction: column-reverse;
    }

    .form-body input{
      width: 15rem;
      margin-right: 15px;
    }

    .buy-responsive h2{
      font-size: 35px; 
    }  

    .buy-responsive p{
      font-size: 16px;
    }
  }



  @media screen and (max-width: 992px) {
  
  }
  
  @media screen and (max-width: 600px) {
    .buy-btn {
      width: 100% !important;
      margin-top: 20px;
      padding: 30px 0;
      display: flex;
      justify-content: center;
      align-items: center;
  }
      
    }



  