.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 10rem;
    justify-content: center;
    border-radius: 30px;
    padding: 2rem;
    background: url(/assets/background.png);
  
h3{
    justify-content: center;
    display: flex;
    font-size: 30px;
   }
}
  
.partners-text{
    display: flex;
    text-align: center;
}


@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 600px) {
    .partners-text{
        
    }
  }