.security {
  position: relative;
  margin-top: 8rem;
}

.security-img {
  width: 85%;
}

.soc-type {
  text-decoration: underline;
}

.text-learn{
  text-decoration: underline;
}


@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 600px) {
  .security-img {
    display: flex;
    margin-left: 2rem;
  }
    
  }