.support-text{
    margin-top: 10rem;
}

.support-img{
    left: 30rem;
}


.accordion-body{
    line-height: 25px;
    color: #666;
}

.question {
    background-color: inherit;
    color: #000000;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    line-height: 60px;
}

.paragraphy {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
}

.support-text {
    line-height: 60px;
    color: black;
}


.support {
    .support-text {
        span {
            color: #3983f5 ;
            font-size: 25px;
            font-style: normal;
            line-height: 20px;
        }
    }
}

.list{
    list-style: none;
}