@use "../abstracts/variables" as v;

.support-text{
    margin-top: 10rem;
}

.accordion{
    background-color: blue;
}

.accordion-body{
    line-height: 25px;
    color: v.$color-grey;
}

.support-text {
    line-height: 60px;
    color: black;
}


.support {
    .support-text {
        span {
            color: #3983f5 ;
            font-size: 25px;
            font-style: normal;
            line-height: 20px;
        }
    }
}

.list{
    list-style: none;
}



@media screen and (max-width: 992px) {
  
}

@media screen and (max-width: 600px) {
    .support-img{
        width: 30rem;
        margin-top: 5rem;
    }

    .support-text{
        margin-top: 4rem;
    }
    

  }